@font-face {
    font-family: 'raleway-bold';
    src: url('/fonts/Raleway/static/Raleway-Bold.ttf') format('truetype');
    font-style: normal; 
}
@font-face {
    font-family: 'raleway-regular';
    src: url('/fonts/Raleway/static/Raleway-Regular.ttf') format('truetype');
    font-style: normal;
}

.fontRalewayBold {
    font-family: raleway-bold;
}
.fontRalewayRegular {
    font-family: raleway-regular;
}

body {
    padding: 0;
    margin: 0;
}

.row {
    margin: 0 50px 0 50px;
    height: 100%;
}
.rowHeaderMain {
    min-height: 100%;
    position: relative;
}
.rowHeader {

}
.rowMain {

}

.activity {
    display: flex;
    margin-bottom: 61px;
}
.cardActivity {
    overflow: hidden;
    border-radius: 20px;
    max-width: 300px;
    max-height: 445px;
    box-shadow: 5px 5px 5px #000000;
}
.cardActivity img {
    object-fit: cover;
    width: 300px;
    height: 445px;

}

.rowFooter {
    position: relative;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #F2F2F2;
}

.footer {
    display: flex;
    padding: 30px 0 50px 70px;

}
.footerItem {
    flex: 1 1 0;
}

h1 {
    font-weight: 700;
    font-size: 22px;
    line-height: 26px;
}
h2 {
    font-weight: 700;
    font-size: 18px;
    line-height: 21px;
}
p {
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
}
a {
    text-decoration: none;
    font-weight: 400;
    font-size: 16px;
    line-height: 31px;
    color: #000000;
}
