@font-face {
    font-family: 'raleway-bold';
    src: url('./fonts/Raleway/static/Raleway-Bold.ttf') format('truetype');
    font-style: normal; 
}
@font-face {
    font-family: 'raleway-regular';
    src: url('./fonts/Raleway/static/Raleway-Regular.ttf') format('truetype');
    font-style: normal;
}

.fontRalewayBold {
    font-family: raleway-bold;
}
.fontRalewayRegular {
    font-family: raleway-regular;
}

body {
    padding: 0;
    margin: 0;
}

.container {
    max-width: 1400px;
    margin: auto;    
}

.hebergement {
    display: flex;
    gap: 40px;
}
.hebergementMarseille {
    flex: 2;
    border: solid 5px red;
}
.hebergementPopulaire {
    flex: 1;
        border: solid 5px red;
}


.activity {
    display: flex;
    gap: 43px;
    margin-bottom: 61px;
}
.cardActivity {
    overflow: hidden;
    border-radius: 20px;
    flex: 1;
    /* max-width: 300px; */
    max-height: 445px;
    box-shadow: 5px 5px 5px #000000;
}
.cardActivity img {
    object-fit: cover;
    width: 100%;
    height: 445px;

}


.footer {
    display: flex;
    padding: 30px 50px;
    background-color: #F2F2F2;

}
.footerItem {
    flex: 1 1 0;
}

h1 {
    font-weight: 700;
    font-size: 22px;
    line-height: 26px;
}
h2 {
    font-weight: 700;
    font-size: 18px;
    line-height: 21px;
}
p {
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
}
a {
    text-decoration: none;
    font-weight: 400;
    font-size: 16px;
    line-height: 31px;
    color: #000000;
}
