
@font-face {
    font-family: 'Raleway-Bold';
    src: url('/fonts/Raleway/static/Raleway-Bold.ttf') format('truetype');
    font-style: normal;
}

@font-face {
    font-family: 'Raleway-Regular';
    src: url('/fonts/Raleway/static/Raleway-Regular.ttf') format('truetype');
    font-style: normal;
}

.fontRalewayBold {
    font-family: Raleway-Bold;
}

.fontRalewayRegular {
    font-family: Raleway-Regular;
}



h1 {
    font-weight: 700;
    font-size: 22px;
    line-height: 26px;
}

p {
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
}
